footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    height: 70px;
}

h3 {
    color: rgb(21, 8, 33);
}

a, li {
    text-decoration: none;
    list-style: none;
}
